{% load static %}

<div class="container pt-5">
    <div class="row bg-white rounded">
        <div id="carousselIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <!-- Indicateurs -->
            <ul class="carousel-indicators">

                {% for photos in list_pictures|slice:":0" %}

                {% if forloop.first %}

                <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter0}}" class="active"></li>

                {% else %}

                <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter0}}"></li>

                {% endif %}

                {% endfor %}

            </ul>


            <!-- Carrousel -->
            <div class="carousel-inner largeurcar rounded">

                {% for photos in list_pictures %}

                <div class="carousel-item {% if forloop.first%} active {% endif %}" data-interval="3000">
                    <img src="{{ photos.picture.url }}" alt="Carrousel slide 1" class="imgcar">
                </div>

                {% endfor %}

            </div>

            <!-- Contrôles -->
            <a class="carousel-control-prev" href="#carousselIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
            </a>
            <a class="carousel-control-next" href="#carousselIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
            </a>
        </div>
    </div>
</div>
<hr class="style-eight mb-3 mt-5">
<div class="container py-4 px-5">
    <div class="row bg-white rounded">
        <div class="col-md-9 col-sm-6 col-xs-12">
            <div class="aboutus p-3">
                <h2 class="aboutus-title">Bienvenue chez "Les Becs à Vin"</h2>
                <p class="aboutus-text text-justify">Nous sélectionnons pour vous un choix de vins naturels en constante
                    évolution. Des vins issus de vignes cultivées dans le respect du vivant sans chimie polluante,
                    souvent en culture biologique ou en biodynamie, qui permettent de vinifier des vins sans
                    intrants œnologiques (levures, enzymes, acides, soufre, colle). </p>
                <p class="aboutus-text text-justify">Ce sont des vins vivants et authentiques, véritables reflet d’un
                    cépage sur
                    un terroir, des vins réalisés dans le respect de ceux qui les boivent…
                    Alors bon appétit et large soif !</p>
                <a class="btn couleur btn-lg" href="https://www.facebook.com/lesbecsavin">Suivez nous sur
                    facebook</a>
            </div>
        </div>
    </div>
</div>
<hr class="style-eight mb-5 mt-3">