{% extends 'main_app/base.html' %}

{% load static %}
{% block content %}

<section>
    <h2 class="text-center p-3 txt">Caviste</h2>
    <hr class="style-eight mb-5">
    <div class="container">
        <div class="card my-3 shadow p-3 rounded">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <img src="{% static 'main_app/img/caviste.jpg'%}" class="w-100 imgMenu rounded">
                </div>
                <div class="col-lg-9 col-md-12 px-3">
                    <div class="card-block px-3">
                        <h4 class="card-title text-center mt-2">Vente à emporter</h4>
                        <p class="card-text text-justify mt-4 my-4 mx-3 p-1">Toutes les bouteilles en cave sont
                            disponibles à la vente à emporter (8€ de moins que le prix indiqué sur place).</p>
                        <p class="card-text text-justify mt-4 my-4 mx-3 p-1">Vous y trouverez une sélection de
                            toutes régions et cépages de France, quelques crus étrangers, et une belle représentation de
                            vins du Val de Loire. Nous vous conseillerons au mieux les
                            après-midis en dehors des heures de service.</p>
                        </p>
                        <p class="card-text text-center mt-4 my-4 mx-5 p-2">Venez consulter nos <a
                                href='{% url "main_app:suggestions" %}'>suggestions</a> du mois!
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <h2 class="text-center p-3 txt">Avec modération</h2>
    <hr class="style-eight mb-5">
</section>


{% endblock %}