{% extends 'main_app/base.html' %}

{% block content %}
<section>
    <h2 class="text-center p-3">Commentaires de nos clients</h2>
    <hr class="style-eight mb-5">
    <div class="container">
        <div class="card my-3 shadow p-3 rounded">
            <div class="row">
                <div class="col-md-12">
                    <p>toto - date</p>
                    <p>"bonne dégustation
                        Bonne adresse. Dommage que la terrasse soit traversée par des voitures ce qui gâche un peu le
                        décor. En dégustant un bon vin et de bons produits on a pas forcément envie de respirer les pots
                        d'échappements. Très bonne note pour la demoiselle qui nous..."</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <p>toto - date</p>
                    <p>
                        "Sympa
                        Bon accueil, carte suffisante et correcte. Très bon choix de vins. II faudrait juste pour la
                        planche des cornichons, même si ce n'est pas la saison selon l'humour du serveur. Pourtant
                        il y
                        en avait un
                        en face de lui... Moi ??"
                    </p>
                </div>

                <div class="col-md-6">
                    <p>toto - date</p>
                    <p>"Toujours aussi sympa
                        Que dire de cet endroit plein de convivialité et de simplicité, toujours de belles
                        découvertes
                        œnologiques accompagnées de planches mixtes de qualité. Un service amical qui vous laisse le
                        temps de
                        discuter et d apprécier ces bons moments de détente. Toujours un plaisir de revenir...."</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>toto - date</p>
                    <p>"Adresse à découvrir
                        Carte des boissons très variée, des vins, aux tisanes, en passant par les jus de fruits, bières,
                        etc. avec indication du producteur et de l'origine géographique des boissons. Produits très
                        qualitatifs
                        pour des tarifs vraiment corrects. Serveurs souriants et très professionnels, capables de
                        conseiller
                        sur..."</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <p>toto - date</p>
                    <p>
                        "Sympa
                        Bon accueil, carte suffisante et correcte. Très bon choix de vins. II faudrait juste pour la
                        planche des cornichons, même si ce n'est pas la saison selon l'humour du serveur. Pourtant il y
                        en avait un
                        en face de lui... Moi ??"
                    </p>
                </div>

                <div class="col-md-6">
                    <p>toto - date</p>
                    <p>"Toujours aussi sympa
                        Que dire de cet endroit plein de convivialité et de simplicité, toujours de belles découvertes
                        œnologiques accompagnées de planches mixtes de qualité. Un service amical qui vous laisse le
                        temps de
                        discuter et d apprécier ces bons moments de détente. Toujours un plaisir de revenir...."</p>
                </div>
            </div>

        </div>
    </div>
    <hr class="style-eight mb-5">
</section>

{% endblock %}