{% extends 'main_app/base.html' %}

{% block content %}
<h1>Commentaires de nos clients</h1>
<div>
    <ul>
        <p>
        <h3>toto</h3>
        <h3>date</h3>
        <h4>bonne dégustation
            Bonne adresse. Dommage que la terrasse soit traversée par des voitures ce qui gâche un peu le décor. En
            dégustant un bon vin et de bons produits on a pas forcément envie de respirer les pots d'échappements. Très
            bonne note pour la demoiselle qui nous...</h4>
        </p>
        <hr>
        <p>Adresse à découvrir
            Carte des boissons très variée, des vins, aux tisanes, en passant par les jus de fruits, bières, etc. avec
            indication du producteur et de l'origine géographique des boissons. Produits très qualitatifs pour des
            tarifs vraiment corrects. Serveurs souriants et très professionnels, capables de conseiller sur...</p>
        <hr>
        <p>Sympa
            Bon accueil, carte suffisante et correcte. Très bon choix de vins. II faudrait juste pour la planche des
            cornichons, même si ce n'est pas la saison selon l'humour du serveur. Pourtant il y en avait un en face de
            lui... Moi ??
        </p>
        <p>Toujours aussi sympa
            Que dire de cet endroit plein de convivialité et de simplicité, toujours de belles découvertes œnologiques
            accompagnées de planches mixtes de qualité. Un service amical qui vous laisse le temps de discuter et d
            apprécier ces bons moments de détente. Toujours un plaisir de revenir...
        </p>
        <p>Très bonne adresse pour une pause repas au milieu d'une journée shopping
            Une cuisine simple, de terroir, bien travaillée, qui ravit les papilles ! Très bon rapport qualité / prix.
            Accueil chaleureux, service efficace avec humour et sourires, salle petite et chargée où on se sent bien,
            petite terrasse agréable, bref une très bonne adresse pour boire...</p>
    </ul>
</div>

{% endblock %}