{% load static %}

<div>
    <h1>Nos producteurs</h1>
    <ul>
        <p>les jus à base de rhubarbe d'
            <a
                href="https://www.facebook.com/pages/category/Shopping---Retail/Rhubarbe-Etienne-Pellerin-100206815003484/">
                Etienne Pellerin</a></p>

        <p>les bières artisanales de la
            <a href="http://www.brasserie-pigeonnelle.fr/">Brasserie de la Pigeonnelle</a></p>

        <p>les cafés de la
            <a href="https://labrulerieduchatelet.jimdofree.com/">Brûlerie du Châtelet</a></p>
        <!-- https://fr-fr.facebook.com/pages/category/Tea-Room/La-Brulerie-du-Ch%C3%A2telet-536294009813636/ -->

        <p>les cafés et les thés des
            <a href="https://www.lescafes-eric.fr/">Cafés d’Eric</a></p>
        <!-- https://fr-fr.facebook.com/LesCafesDEricOrleans/ -->

        <p>les tisanes et sirop des
            <a
                href="https://www.tourisme-aveyron.com/fr/diffusio/artisans-entreprises/les-jardins-du-mercie-plantes-medicinales-vezins-de-levezou_TFO095165878115">
                Jardins du Mercié</a></p>

        <p>les miels
            <a href="https://www.grenierdemarieetanais.com/product-page/miel-de-sologne">
                Jonas Gaschaud</a></p>

        <p>les légumes d’Edith et Bruno du
            <a
                href="https://www.petitfute.com/v11084-orleans-45000/c650-produits-gourmands-vins/c1104-epicerie/1540210-au-jardin-du-chatelet.html">
                Jardin du Châtelet</a></p>

        <p>
            les légumes du potager de Fay aux loges<br />
            les fromages affinés de Dominique Desserre<br />
            les viandes de Sandra et Marc Dumont<br />
            les charcuteries et viandes d&rsquo;Aveyron<br />
            les saucisses de Porc Noir des Tontons François<br />
            les pains de Pascal Morrisson</p>
        <p>et la centaine de vignerons qui nous font confiance.</p>
    </ul>

</div>