{% extends 'main_app/base.html' %}
{% load static %}

{% block content %}

<section>
    <h2 class="text-center p-3 txt">Nos producteurs</h2>
    <hr class="style-eight mb-5">
    <div class="container">
        <div class="card my-3 shadow p-3 rounded">
            <div class="row">
                {% for partenaire in partenaires %}

                <div class="col-md-4">

                    <div class="card mb-2">

                        <img class="card-img-top w-100 imgMenu rounded" src="{{ partenaire.picture.url }}">

                        <div class="card-body" id="titlePartner">

                            <p class="text-center card-title ">{{ partenaire.name }}</p>
                        </div>

                    </div>
                    <div class="mb-5 d-flex justify-content-center">
                        <a href="{{partenaire.link }}" class="btn btn-primary mx-auto">
                            visitez notre site
                        </a>
                    </div>

                </div>

                {% endfor %}

                <div class="col-12 ">
                    <div class="col-md-6 ml-auto  mr-auto">

                        <div class="card otherPartners mb-2">

                            <div class="card-body col-12  otherPartnersDescr">
                                <h3 class="mb-4">Et encore plein d'autres...</h3>
                                <p class="autrePartenaire">&#9635 Les charcuteries et viandes d&rsquo;Aveyron</p>
                                <p class="autrePartenaire">&#9635 les saucisses de Porc Noir des Tontons François</p>
                                <p class="autrePartenaire">&#9635 les pains de Pascal Morrisson</p>
                                <p class="autrePartenaire"> &#9635 et la centaine de vignerons qui nous font confiance
                                </p>
                                <p class="autrePartenaire">&#9635 es légumes du potager de Fay aux loges</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <br>



</section>
<section>
    <h2 class="text-center p-3 txt">Vous êtes producteurs, <a href="mailto:lesbecsavin@gmail.com">rejoignez-nous!</a>
    </h2>

    <hr class="style-eight mb-5">
</section>


{% endblock content %}
