{% extends 'main_app/base.html' %}

{% load static %}
{% block content %}
<section>
    <h2 class="text-center p-3 text-light">Plan</h2>
    <hr class="style-eight mb-5">
    <div class="container">
        <div class="card col-lg-12 my-3 shadow p-3 rounded">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <iframe class="embed-responsive-item border-0 w-100 imgMenu rounded"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d904.553409065937!2d1.9057985671942694!3d47.89925356059907!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e4e4d1977d65f5%3A0x8e0f0be3e04c62f9!2sLes%20Becs%20%C3%A0%20Vin!5e0!3m2!1sfr!2sfr!4v1602064936311!5m2!1sfr!2sfr"
                        width="80" height="50" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                        tabindex="0">iti</iframe>
                </div>
                <div class="col-lg-4 col-md-4 px-3 align-self-center">
                    <div class="card-block text-center px-3">
                        <p>Les Becs à Vin – 8 Place du Châtelet – 45000 Orléans</p>
                        <p>Parking Halles Châtelet et Charpenterie : 2€ la soirée</p>
                        <p>Tél : 09.65.16.64.09</p>
                        <a href="https://goo.gl/maps/jopDp1TsPHKfGCYn8" target="_blank"
                            class="button btn btn-primary btn-lg border ouvrir">ouvrir dans google map</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-center p-3 text-light">A bientôt</h2>
    <hr class="style-eight mb-5">
</section>
{% endblock %}