{% extends 'main_app/base.html' %}

{% load static %}
{% block content %}

<section>
    <h2 class="text-center p-3 txt">Suggestions</h2>
    <hr class="style-eight mb-5">
    <div class="container">
        <div class="card col-lg-12 my-3 shadow p-3 rounded">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card-block px-3">
                        <h5 class="card-title text-center">--------</h5>
                        <h5 class="card-text text-center">Si vous préférez la bière blonde au vin
                            (aka BLONDEAU), nous avons une belle trilogie!
                        </h5>
                        <h5 class="card-title text-center">--------</h5>
                        <h5 class="card-text text-center">Vous êtes plutôt vins musclés et moutachus,
                            nous vous avons sélectionnés quelques vins du passé (aka DUPAS).
                        </h5>
                        <h5 class="card-title text-center">--------</h5>
                        <h5 class="card-text text-center">Vous souhaitez un vin de grand cru, nous
                            vous conseillons le clos d'HERBIGNY (aka Campus Manager).
                        </h5>
                        <h5 class="card-title text-center">--------</h5>
                        <h5 class="card-text text-center">Pour les sans-alcool, nous avons les sirops
                            SIMONIN.
                        </h5>
                        <h5 class="card-title text-center">--------</h5>
                        <h5 class="card-text text-center">Dernièrement, nous avons reçu pour les
                            curieux une dernière cuvée (MAUGARS).
                        </h5>
                        <h5 class="card-title text-center">--------</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <hr class="style-eight mb-5">
</section>


{% endblock %}