{% load static %}
<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'account/css/style.css' %}" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://use.fontawesome.com/3d4ae29890.js"></script>

    <title>account_becsavin</title>

</head>

<body>
    <div class="container-fluid">
        <div class="row align-items-center skeleton">
            <div class="col-6 col-md-4 col-lg-3">
                <h1 id="custom-header"><img class="img-fluid" src="{% static 'account/img/logo2.png' %}"
                        alt="Les Becs à Vin à Orléans : Bar à vin, Bistrot, Caviste" />
                </h1>
            </div>
        </div>
    </div>

    <div class="container-fluid hauteurbox">
        <div class="row">
            <div class="col-12">
                <div class="">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="row text-center text-light m-0">
            <!--fixed-bottom -->
            <div class="col-md-6 align-self-center text-white-50">
                <i class="fa fa-copyright"> Copyright WildCodeSchool 2020</i>
            </div>
            <div class="col-md-6 align-self-center text-white-50">
                <a class="top" href="#"><img src="{% static 'account/img/logo_TETE.png' %}" width=50
                        alt="logo becsavin"></a>
            </div>
        </div>
    </footer>



    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'main_app/js/script.js' %}"></script>
</body>

</html>