{% extends 'main_app/base.html' %}
{% block content %}
<section>
    <div class="container">
        <div class="card col-lg-8 my-3 shadow p-3 rounded">
            <div class="row">
                <div class="col-md-12 px-3">
                    <div class="card-block px-3">
                        <h4 class="card-title text-center mt-2">Votre Adresse email:</h4>
                        <h4 class="card-title text-center mt-2">{{ user.email }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card col-lg-8 my-3 shadow p-3 rounded">
            <div class="row">
                <div class="col-md-12 px-3">
                    <div class="card-block px-3">
                        <h4 class="card-title text-center mt-2">Votre Nom:</h4>
                        <h4 class="card-title text-center mt-2">{{ user.last_name }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card col-lg-8 my-3 shadow p-3 rounded">
            <div class="row">
                <div class="col-md-12 px-3">
                    <div class="card-block px-3">
                        <h4 class="card-title text-center mt-2">Votre Prenom:</h4>
                        <h4 class="card-title text-center mt-2">{{ user.first_name }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="page-section result">
    <div class="container">
        <div class="row text-center justify-content-center align-items-center">
            <div class="col-auto rounded shadow bg-primary text-white">
                <h1>{{user.first_name}}</h1>
            </div>
        </div>
    </div>
</section>
<section class="page-section bg-secondary">
    <div class="container">
        <div class="container bg-moules rounded shadow p-3 text-white">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6">
                    <h3>Votre Adresse email:</h3>
                </div>
                <div class="col-lg-6">
                    <h3>{{ user.email }}</h3>
                </div>
            </div>
            <hr class="divider my-4">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6">
                    <h3>Votre Nom:</h3>
                </div>
                <div class="col-lg-6">
                    <h3>{{ user.last_name }}</h3>
                </div>
            </div>
            <hr class="divider my-4">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6">
                    <h3>Votre Prenom:</h3>
                </div>
                <div class="col-lg-6">
                    <h3>{{ user.first_name }}</h3>
                </div>
            </div>
        </div>
    </div>
</section> -->

{% endblock content %}