* {
  box-sizing: border-box;
}
.skeleton,
.ouvrir {
  background-color: rgb(0, 51, 139);
}

.menu {
  background-color: rgb(0, 51, 139);
}

footer,
li {
  font-size: 15px;
  background-color: rgb(0, 51, 139);
}
/* nav bar */

/* Style the active class (and buttons on mouse-over) */
.active,
.btn:hover {
  background-color: rgb(149, 157, 184);
}
/* ------------------- */
.nav-link {
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
}
.largeurcar {
  height: 60vh !important;
  width: 80vw !important;
}
.imgcar {
  height: 60vh !important;
  width: 80vw !important;
  object-fit: cover;
}
.w-100 {
  height: 74vh !important;
  object-fit: cover;
}

.dimmap {
  min-height: 400px;
}

body {
  background: linear-gradient(
      rgba(126, 125, 125, 0.55),
      rgba(104, 103, 103, 0.55)
    ),
    url("../img/bouchon.jpg");
  background-size: cover;
  opacity: 1;
}

.border {
  border-radius: 0px;
}

/* ==========Bistrot========== */

.card-text {
  letter-spacing: 2px;
}

.imgMenu {
  height: 340px !important;
  object-fit: cover !important;
}

hr.style-eight {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double white;
  color: white;
  text-align: center;
  width: 250px !important;
}

hr.style-eight:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
  background: transparent;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg);
}

/*a {
  text-decoration: none;

}*/

.txt {
  color: white;
}

.hauteurbox {
  min-height: 80vh;
}

/* ==========Présentation========== */
/* 
.aboutus-section {
  padding: 90px 0;

} */

.aboutus-section {
  padding: 90px 0;
}
.aboutus-title {
  font-size: 30px;
  letter-spacing: 0;
  line-height: 32px;
  margin: 0 0 39px;
  padding: 0 0 11px;
  position: relative;
  text-transform: uppercase;
  color: #000;
}
.aboutus-title::after {
  background: #000 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 180px;
}
.aboutus-text {
  color: #606060;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 35px;
}
.aboutus {
  /* margin-left: 45px !important; */
  width: 78vw;
}

/* a:hover,
a:active {
  color: #020202;
  text-decoration: none;
  outline: 0;
} */

.aboutus-more {
  border: 2px solid #020202;
  border-radius: 25px;
  color: #000;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 7px 20px;
}

#titlePartner {
  height: 11vh;
}
